html {
  height: 100%;
}
body {
  background-color: cadetblue;
  text-align: center; 
  height: 100%;
}

#root, .App {
  height: 100%;
}

.add {
  height: 30%;
}

.task {
  border: 1px solid black;
  border-radius: 25px;
  margin: 10px;
}

.column {
  background-color: cornsilk;
  height: 100%;
  min-width: 30%;
  margin: 10px;
  padding: 10px;
  border-radius: 25px;
}

.droppable {
  min-height: 80%;
  padding: 20px;
}

.container {
  /* border: 5px solid rgb(111,41,97); */
  min-height: 50%;
  border-radius: .5em;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.containerInput {
  background-color: rgb(43, 120, 122);
  box-shadow: 10px 10px 20px rgb(30, 85, 87);
  margin-left: 10%;
  margin-right: 10%;
}

.btnAdd {
  padding: 15px;
  margin: 15px;
  border: none;
  border-radius: 25px;
  background-color: cornsilk;
}

input {
  padding: 10px;
  border: none;
  margin: 20px;
  width: 25%;
}